/* Write your CSS here */
.similar-product-item {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.similar-image {
  height: 200px;
  width: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.similar-title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 15px;
}

.similar-brand {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

.rating-price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.similar-price {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}

.rating-star-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 55px;
  background-color: #3b82f6;
  border-radius: 5px;
}

.similar-rating {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
  padding-right: 3px;
}

.similar-star-img {
  height: 15px;
  width: 15px;
}
